@import "global";
@import "var";
@import "scroll";


.header{
    // background: linear-gradient(to bottom, #e78182 1%,#eed889 100%);
    background-image: url(../images/header/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav{
        .menu-list{
            font-family: $mont;
            text-transform: uppercase;
            font-size: 14px;
            a{
                color: #fff;
            }
            li+li{
                margin-left: 50px;
            }
            li{
                padding: 15px 0 12px;
                border-bottom: 3px solid transparent;
                transition: all .3s;
            }
            li:hover{
                padding-bottom: 12px;
                border-bottom: 3px solid #fce38a;
            }
            .menu-list__buy{
                img{
                    margin-bottom: -2px;
                }
            }
            .menu-list__search{
                img{
                    margin-bottom: -4px;
                }
                margin-left: 40px;
            }
        }
    }
}
.header__logo{
    line-height: 60px;
    font-size: 30px;
    font-family: $mont;
    font-weight: 700;
    a{
        color: #fff;
    }
}
.header__inner{
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-family: $mont;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header__inner-subtitle{
        font-size: 72px;
        font-family: $kaus;
        margin-bottom: 65px;
        font-weight: 400;
        margin-top: 170px;
    }
    .header__inner-title{
        font-size: 150px;
        max-width: 815px;
        text-transform: uppercase;
        margin-bottom: 75px;
    }
    .header__inner-line{
        width: 60px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 50px;
    }
    .header__inner-btn{
        width: 160px;
        height: 40px;
        border: 3px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 160px;
        cursor: pointer;
        transition: all .3s;
        &:hover{
            background-color: #fff;
            color: #f38181;
        }
    }
    .header__inner-scrolls{
        width: 100%;
        li{
            max-width: 270px;
            width: 100%;
            border-top: 3px solid rgba(#fff, .5);
            padding: 20px 0;
            text-align: left;
            cursor: pointer;
            position: relative;
            a{
                color: #fff;
                font-size: 18px;
                text-transform: uppercase;
                span{
                    font-weight: 700;
                    font-size: 24px;
                }
            }
            .red-line{
                position: absolute;
                width: 0;
                opacity: 0;
                height: 3px;
                top: -3px;
                left: 0;
                background-color: #f38181;
                transition: all .3s;
            }
            &:hover{
                border-top: 3px solid #fff;
            }
            &:hover .red-line{
                width: 70px;
                opacity: 1;
            }
        }
       
        li+li{
            margin-left: 30px;
        }
    }
}

.work__inner{
    padding: 95px 0 110px;
    text-align: center;
}
.work__subtitle{
    @include cursive;
}
.work__title{
    @include title;
}
.work__line{
    @include line;
}
.work__text{
    @include text;
}
.work__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .work__item{
        width: 380px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all .3s;
        &-icon{
            background-image: url(../images/work/users.png);
            width: 32px;
            height: 23px;
            margin-bottom: 10px;
            opacity: 0;
            transition: all .3s;
        }
        &-text{
            font-family: $mont;
            font-size: 18px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            opacity: 0;
        }
        &:hover{
            background-repeat: no-repeat;
            background-size: cover;
            transform: translate(-10px, -10px);
            box-shadow: 10px 10px #95e1d3;
        }
        &:hover .work__item-icon,
        &:hover .work__item-text{
            opacity: 1;
        }
    }
    .work__item-1{
        background-image: url(../images/work/item-1.png);
        &:hover{
            background: linear-gradient(to bottom, rgba(#e78182, .5) 1%, rgba(#eed889, .9) 100%), url(../images/work/item-1.png);
            background-repeat: no-repeat;
            background-size: cover; 
        }
    }
    .work__item-2{
        background-image: url(../images/work/item-2.png);
        &:hover{
            background: linear-gradient(to bottom, rgba(#e78182, .5) 1%, rgba(#eed889, .9) 100%), url(../images/work/item-2.png);
        }
    }
    .work__item-3{
        background-image: url(../images/work/item-3.png);
        &:hover{
            background: linear-gradient(to bottom, rgba(#e78182, .5) 1%, rgba(#eed889, .9) 100%), url(../images/work/item-3.png);
        }
    }
}

.statistics{
    background-color: #95e1d3;
    ul{
        color: #fff;
        font-family: $mont;
        display: flex;
        justify-content: center;
        li{
            padding: 90px 30px;
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
            max-width: 235px;
            width: 100%;
            span{
                display: block;
                font-weight: 700;
                font-size: 72px;
                margin-bottom: 30px;
            }
        }
        li+li{
            border-left: 1px solid #b5eae0;
        }
        li:first-child{
            border-left: 1px solid #b5eae0;
        }
        li:last-child{
            border-right: 1px solid #b5eae0;
        }
    }
}

.services{
    text-align: center;
    padding: 110px 0 120px;
    &__subtitle{
        @include cursive;
    }
    &__title{
        @include title;
    }
    &__line{
        @include line;
    }
    &__box-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 50px;
        border-bottom: 1px solid #e5e5e5;
        .services__item:first-child::after{
            background-image: url(../images/services/alarm.png);
        }
        .services__item:nth-child(2):after{
            background-image: url(../images/services/graph.png);
        }
        .services__item:last-child::after{
            background-image: url(../images/services/computer.png);
        }
    }
    &__box-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        .services__item:first-child::after{
            background-image: url(../images/services/book.png);
        }
        .services__item:nth-child(2):after{
            background-image: url(../images/services/home.png);
        }
        .services__item:last-child::after{
            background-image: url(../images/services/img.png);
        }
    }
    &__item{
        max-width: 340px;
        width: 100%;
        padding-left: 50px;
        text-align: left;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 32px;
            height: 32px;
            background-repeat: no-repeat;
        }
        &-title{
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 20px;
            color: #333;
            letter-spacing: -0.5px;
        }
        &-text{
            font-family: $rob;
            font-size: 15px;
            color: #999;
        }
    }
}

.features{
    background-image: url(../images/features/features-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 120px;
    &__inner{
        text-align: center;
    }
    &__subtitle{
        @include cursive;
    }
    &__title{
        @include title;
    }
    &__line{
        @include line;
    }
    &__device{
        img{
            margin-bottom: -4px;
        }
    }
    &__mob{
        position: absolute;
        right: 30%;
        transform: translateX(35%);
        bottom: -80px;
    }
}

.about{
    padding: 120px 0;
    &__inner{
        text-align: center;
    }
    &__subtitle{
        @include cursive;
    }
    &__title{
        @include title;
    }
    &__line{
        @include line;
    }
    &__text{
        @include text;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        img{
            max-height: 380px;
        }
        .about__tabs{
            max-width: 600px;
            width: 100%;
            li{
                display: block;
                .about__btn{
                    text-align: left;
                    border: 1px solid #e5e5e5;
                    padding: 24px 0 24px 60px;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #333;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 16px;
                        background-repeat: no-repeat;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        width: 22px;
                        height: 12px;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 20px;
                        background-image: url(../images/about/arrow.png);
                        background-repeat: no-repeat;
                        transition: all .3s;
                    }
                    &.active::after{
                        top: 40%;
                        transform: rotate(180deg);
                    }
                    &::before{
                        background-image: url(../images/about/picture.png);
                        width: 30px;
                        height: 30px;
                    }
                } 
                
                &:nth-child(2){
                    .about__btn{
                        &::before{
                            background-image: url(../images/about/equalizer.png);
                            width: 28px;
                            height: 32px;
                        }
                    }
                }
                &:last-child{
                    .about__btn{
                        &::before{
                            background-image: url(../images/about/bullseye.png);
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
                .about__btn-text{
                    display: none;
                    max-height: 161px;
                    padding: 24px 54px 27px 20px;
                    opacity: 1;
                    overflow: auto;
                    text-align: left;
                    border: 1px solid #e5e5e5;
                    border-top: none;
                    color: #999;
                    font-family: $rob;
                    font-style: italic;
                    font-weight: 300;
                    font-size: 15px;
                }
            }
            li+li{
                margin-top: 10px;
            }
        }
       
    }
}

.comments,
.reviews{
    padding: 70px 0;
    background-color: #f8f8f8;
    .comments__inner,
    .reviews__inner{
        position: relative;
        .comments__slider
        .reviews__slider{
            padding: 0 50px;
        }
        .prev-btn,
        .next-btn{
            background: transparent;
            border: none;
            cursor: pointer;
            position: absolute;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
            outline: none;
        }
        .prev-btn{
            left: 0;
        }
        .next-btn{
            right: 0;
        }
    }
    .comments__item,
    .reviews__item{
        &-content{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .comments__item-img{
            width: 150px;
            height: 150px;
            border: 3px solid #95e1d3;
            background-image: url(../images/comments/comment.png);
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 60px;
        }
        .comments__item-box,
        .reviews__item-box{
            max-width: 770px;
            font-family: $rob;
            font-style: italic;
            font-weight: 300;
            font-size: 24px;
            color: #999;
            .comments__item-text,
            .reviews__item-text{
                &::before{
                    content: '“';
                }
                &::after{
                    content: "”";
                }
            }
            .comments__item-line,
            .reviews__item-line{
                width: 60px;
                height: 3px;
                background-color: #f38181;
                display: inline-block;
                margin-right: 10px;
                margin-top: 36px;
            }
            .comments__item-name,
            .reviews__item-name{
                display: inline-block;
                color: #333;
                font-size: 24px;
                font-family: $kaus;
                margin-top: 3px;
                transform: translateY(4px);
            }
        }
    }
}

.team{
    padding: 110px 0;
    &__subtitle{
        @include cursive;
    }
    &__title{
        @include title;
    }
    &__line{
        @include line;
    }
    &__text{
        @include text;
    }
}
.team__inner{
    display: flex;
    justify-content: space-between;
    &-item{
        max-width: 380px;
        width: 100%;
        
    }
    &-image{
        min-height: 470px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all .3s;
        &:hover{
            .team__socials{
                opacity: 1;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            transform: translate(-10px, -10px);
            box-shadow: 10px 10px #95e1d3;
        }
    }
    .img-1{
        background-image: url(../images/team/item-1.jpg);
    }
    .img-2{
        background-image: url(../images/team/item-2.jpg);
    }
    .img-3{
        background-image: url(../images/team/item-3.jpg);
    }
    &-name{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 14px;
        color: #333;
        text-transform: uppercase;
    }
    &-prof{
        text-align: center;
        color: #999;
        font-size: 15px;
        font-family: $rob;
        font-style: italic;
        font-weight: 300;
    }
}
.team__socials{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s;
    ul{
        display: flex;
    }
    li{
        text-align: center;
        width: 56px;
        height: 56px;
        background-color: #fce38a;
        display: block;
        i{
            margin-top: 50%;
            transform: translateY(-50%);
            color: #f38181;
            font-size: 25px;
        }
        & + li{
            margin-left: 1px;
        }
        &:hover{
            background-color: #f38181;
            i{
                color: #fff;
            }
        }
    }
    &-1{
        background: linear-gradient(to bottom, rgba(#e78182, .5) 1%, rgba(#eed889, .9) 100%), url(../images/team/item-1.jpg);
    }
    &-2{
        background: linear-gradient(to bottom, rgba(#e78182, .5) 1%, rgba(#eed889, .9) 100%), url(../images/team/item-2.jpg);
    }
    &-3{
        background: linear-gradient(to bottom, rgba(#e78182, .5) 1%, rgba(#eed889, .9) 100%), url(../images/team/item-3.jpg);
    }
}

.logos{
    min-height: 250px;
    background-color: #f8f8f8;
    background-image: url(../images/logos/logos-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.gallery{
    padding: 110px 0;
    &__subtitle{
        @include cursive;
    }
    &__title{
        @include title;
    }
    &__line{
        @include line;
    }
    &__text{
        @include text;
    }
    &__inner{
        display: flex;
    }
    &__item{
        max-width: 25%;
        position: relative;
    }
    img{
        width: 100%;
        min-height: 50%;
        display: block;
    }
}
.gallery__hover,
.gallery__hover-bot,
.gallery__hover-big{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(#e78182, .8) 1%, rgba(#eed889, .6) 100%);
    &:hover{
            opacity: 1;
    }
    transition: all .3s;
}
.gallery__hover-bot{
    top: 50%;
}
.gallery__hover-big{
    height: 100%;
}
.hover{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        max-width: 30px;
        min-height: 30px;
        margin-bottom: 15px;
    }
    .gallery__hover-title{
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .gallery__hover-text{
        font-family: $rob;
        font-style: italic;
        font-weight: 300;
    }
}

.reviews__item-img{
    width: 150px;
    height: 150px;
    background-image: url(../images/reviews/avatar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 50px;
}

.clients{
    padding: 110px 0;
    background-image: url(../images/clients/clients-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__subtitle{
        @include cursive;
    }
    &__title{
        @include title;
    }
    &__line{
        @include line;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item{
        max-width: 50%;
        width: 100%;
        margin-bottom: 60px;
        padding-left: 140px;
        position: relative;
        &-title{
            font-size: 14px;
            margin-bottom: 15px;
        }
        &-subtitle{
            font-size: 15px;
            font-family: $rob;
            font-style: italic;
            font-weight: 300;
        }
        &-line{
            @include line;
            margin: 20px 0;
        }
        &-text{
            max-width: 90%;
            font-family: $rob;
            color: #999;
            font-size: 15px;
            font-weight: 300;
        }
        &::before{
            content: '';
            position: absolute;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            left: 0;
            top: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        &-1::before{
            background-image: url(../images/clients/avatar-1.jpg);
        }
        &-2::before{
            background-image: url(../images/clients/avatar-2.jpg);
        }
        &-3::before{
            background-image: url(../images/clients/avatar-3.jpg);
        }
        &-4::before{
            background-image: url(../images/clients/avatar-4.jpg);
        }
    }
}
